.footer {
  background-color: white;
  padding: 20px 0;
  text-align: center;
  color: var(--darkBlue);
width: 100%;
  bottom: 0px;
  display: block;
  border-top: 1px solid var(--ocean1);
  box-shadow: 4px 8px 8px #888;
margin-top: 30px;
 
}

.container {
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  /* background-color: rgb(20, 95, 160); */

  align-content: center;
}

.Right{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  /* background-color: rgb(57, 73, 87); */
  height: 100%;
  gap:10px;  
  align-items: center;
  align-content: center;
  justify-content: center;
}

.Left{
  display: flex;
  flex-direction: column;
  width: 30%;

}
 .contact {
 display: flex;
 flex-direction: column;
 width: 35%;
gap: 20px;

}
.navigation  {
  display: flex;
  flex-direction: row;
  width:30%;
 gap: 20px;
 align-items: center;
 align-content: center;
 justify-content: center;
 
 }
.navigation h6 , .contact h6 ,.Left h6{
  color: var(--blue);
  font-family: 'kufam';
  align-self: flex-start;
 }
 .navigation p{
  color: var(--darkBlue);
 }
.RightLogo{
  width: 150px;
  height: auto;
}
.TeamSocial{
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* width: 100%; */
}
.TeamSocial i{
  background-color: var(--blue);
  color: white;
  width:40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.roww{

  display: flex;
  flex-direction: row;
  gap: 40px;
}
.row{

  display: flex;
  flex-direction: row;
  gap: 10px;
}
.form{
border: var(--blue) 1px solid;
width: 432px;
height: 48px;
border-radius: 8px;
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
  justify-content: space-between;
align-self: center;
padding: 0;

}
.input{
align-content: center;justify-content: center;
  padding: 4px;

}
.SUb{

  border-left: var(--blue) 1px solid;
  width: 150px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 18px;
  align-content: center;
  justify-content: center;
  right: 0;
  color: var(--blue);
  align-self: flex-end;
}
.textNo{
  text-decoration: none;
  color: #000;
}