.footer {
  background-color: white;
  padding: 10px 0px;
  text-align: center;
  color: var(--darkBlue);
width: 100%;
  bottom: 0px;
  right: 0px;
  display: block;
 overflow: hidden;
margin-top: 30px;
box-shadow:0px 0px 15px #888;

}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 50px;
  align-content: center;
}
.Logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  gap:10px; 
  width: 15%; 
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* background-color: aqua; */
}

.Left{
  display: flex;
  flex-direction: column;
  width: 30%;
}
 .contact {
 display: flex;
 flex-direction: row;
 width:80%;
gap: 20px;
align-content: center;
justify-content: center;
}
.navigation  {
  display: flex;
  flex-direction: row;
  width:40%;
 gap: 20px;
 align-items: center;
 align-content: center;
 justify-content: center;

 /* background-color: rgba(6, 42, 42, 0.294); */

 /* margin-left: 40px; */

 }
.navigation h6 , .contact h6 ,.Left h6{
  color: var(--blue);
  font-family: 'kufam';

  align-self: center;
 }
 .navigation p{
  color: var(--darkBlue);
  align-self: center;
  /* background-color: #888; */
  margin: 0px 0px 0px 0px;

 }
.RightLogo{
  width: 120px;
  height: auto;
}
.TeamSocial{
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* width: 100%; */
}
.TeamSocial i{
  background-color: var(--blue);
  color: white;
  width:40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.roww{

  display: flex;
  flex-direction: row;
  gap: 10px;
}
.row{

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.row{

  display: flex;
  flex-direction: row;
  gap: 10px;
}
.form{
border: var(--blue) 1px solid;
width: 432px;
height: 48px;
border-radius: 8px;
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
  justify-content: space-between;
align-self: center;
padding: 0;

}
.input{
align-content: center;justify-content: center;
  padding: 4px;

}
.SUb{

  border-left: var(--blue) 1px solid;
  width: 150px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 18px;
  align-content: center;
  justify-content: center;
  right: 0;
  color: var(--blue);
  align-self: flex-end;
}
.textNo{
  text-decoration: none;
  color: #000;
  margin: 0px 0px 0px 0px;

}
.Link{
  text-decoration: none;
  color: #000;

}
.Link :hover{
color: var(--blue);
  
}
.textNo :hover{
  color: var(--blue);
    
  }

  @media (max-width: 1440px)  {
    .container {
      width: 100%;
    }
    .Logo{
    
      width: 25%; 
      align-self: center;
      align-items: center;
      align-content: center;
      justify-content: center;
      /* background-color: aqua; */
    }
  }
  @media (max-width: 1420px)  {
    .contact {
      display: flex;
      flex-direction: row;
      width:90%;
     gap: 20px;
     align-content: center;
     justify-content: center;
     }}
     @media (max-width: 1400px)  {
      .contact {
        display: flex;
        flex-direction: row;
        width:90%;
       gap: 10px;
     
       }
      }

      @media (max-width: 1300px)  {
        .textNo{
          text-decoration: none;
          color: #000;
          margin: 0px 0px 0px 0px;
          font-size: 14px;
        
        }
        .Logo p {
          font-size: 14px;
        }
        .contact {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
         width: 80%;
         gap: 30px;
         }
         .roww{
          gap:50px;
         }
        }

        @media (max-width: 700px)  {
          .textNo{
            text-decoration: none;
            color: #000;
            margin: 0px 0px 0px 0px;
            font-size: 12px;
          
          }
          .Logo p {
            font-size: 12px;
          }
          .contact {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
           width: 80%;
           gap: 30px;
           }
           .roww{
            gap:40px;
           }
          }
          @media (max-width: 700px)  {
            .textNo{
              text-decoration: none;
              color: #000;
              margin: 0px 0px 0px 0px;
              font-size: 10px;
            
            }
            .Logo{
             
              width: 35%; 
             
            }
            .RightLogo{
              width: 50%;
              height: auto;
            }
            .Logo p {
              font-size: 10px;
            }
            .contact {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
             width: 80%;
             gap: 20px;
             }
             .roww{
              gap:20px;
             }
            }

            @media (max-width: 508px)  {
              .textNo{
                text-decoration: none;
                color: #000;
                margin: 0px 0px 0px 0px;
                font-size: 8px;
              
              }
              .Link i {
                font-size: 8px;

              }
              .Logo{
               
                width: 25%; 
               
              }
              .RightLogo{
                width: 50%;
                height: auto;
              }
              .Logo p {
                font-size: 8px;
              }
              .contact {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
               width: 80%;
               gap: 10px;
               }
               .roww{
                gap:10px;
               }
              }

              @media (max-width: 423px)  {
                .container {
                  display: flex;
                  flex-direction: column;
                
                 }
                .textNo{
                  text-decoration: none;
                  color: #000;
                  margin: 0px 0px 0px 0px;
                  font-size: 8px;
                
                }
                .Link i {
                  font-size: 8px;
  
                }
                .Logo{
                 
                  width: 25%; 
                 
                }
                .RightLogo{
                  width: 50%;
                  height: auto;
                }
                .Logo p {
                  display: none;
                }
                .contact {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                 width: 100%;
                 margin-top: -30px;
                 gap: 0px;
                 }
                 .roww{
                  gap:20px;
                 }
                }