.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.Header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;

  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 1.25rem;
}
.titleHead {
  font-size: 46px;
  font-weight: bold;
  font-family: "Poppins";
  text-align: center;
  color: transparent;
  background-image: url("https://res.cloudinary.com/ddngbriyu/image/upload/v1744810615/fond-marbre-liquide-bleu-abstrait-art-experimental-texture-fluide_53876-104502_hr0bz5.jpg");
  background-size: 200%; /* Enlarged for smooth animation */
  background-position: 0 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 30s infinite alternate linear;
}
@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.desc {
  color: black;
  font-size: 1.1rem;
  padding: 0.625rem;
  width: 100%;
  align-self: center;
  text-align: center;
}

.AllBlog {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.Blog1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--darkGrey) 0.0625rem solid;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 26.1875rem;
  height: auto;

  /* Optional: Add padding to create space for background */
  padding: 1rem;
}

.BlogContent {
  font-size: 1.25rem;
  color: black;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.BlogDesc,
.BlogDateText {
  font-size: 0.875rem;
  color: black;
  width: 100%;
  margin: 0 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BlogDateText {
  width: 60%;

}

.BlogTitle {
  font-size: 1.125rem;
  margin: 0.625rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BlogButton {
  color: black;
  font-size: 0.875rem;
align-items: center;
align-content: center;
  text-decoration: none;
  transition: color 0.2s ease;
}
.BlogButton:hover {
  color: var(--blue);

  text-decoration: none;
}

.Blogfooter {
  display: flex;
  width: 100%;
  margin: 1.25rem 0 0.625rem 0;
  border-top: var(--darkGrey) 0.0625rem solid;
  align-items: center;
  align-content: center;

  justify-content: space-between;
  padding-top: 0.625rem;
}

.BlogIcon {
  width: 100%;
}

.BlogImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.Blog1 {
  transition: all 0.3s ease;
}

.AllBlog:hover .Blog1:not(:hover) {
  filter: blur(2px);
  opacity: 0.8;
}
.Blog1:hover {
  transform: scale(1.02);
  z-index: 1;
  background: rgba(236, 246, 255, 0.8); /* Light gray with transparency */
  /* Optional: Add shadow for depth */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* //768px */
@media screen and (min-width: 48rem) {
  .titleHead {
    font-size: 2.8rem;
  }

  .BlogButton,
  .BlogDateText {
    font-size: 0.8rem;
  }
  .desc {
    font-size: 1.2rem;
  }

  .AllBlog {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .Blog1 {
    width: calc(50% - 1.25rem);
    min-height: 20rem;
  }
}
/*1024px */

@media screen and (min-width: 64rem) {
  .titleHead {
    font-size: 3rem;
  }

  .desc {
    font-size: 1.5rem;
    width: 80%;
  }
  .BlogButton,
  .BlogDateText {
    font-size: 0.9rem;
  }
  .AllBlog {
  }

  .Blog1 {
    width: calc(33.33% - 1.25rem);
  }
}
/* 1280px */
@media screen and (min-width: 80rem) {
  .titleHead {
    font-size: 3rem;
  }
  .BlogButton,
  .BlogDateText {
    font-size: 1rem;
  }
  .desc {
    width: 70%;
  }
}
