

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 100%;
  height: 76px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  text-decoration: none;
  z-index: 99;
  font-family: "Poppins";
  top: 0;
  min-height: 50px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  align-items: center;
  align-content: center;
  align-self: center;
  box-shadow: 0 4px 8px #888;
}
.navbar.scrolled {
  top: 0px;
  padding-top: 0px;
  height: 70px;
  box-shadow: 0 4px 8px #888;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbarContainer {
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: space-between;
  height: 100%;
}
.navbarLogo {
  width: 20%;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-decoration: none;
}
.navbarLogo {
  font-size: 24px;
  font-weight: bold;
}
.navbarLinksContainer {
  display: flex;
  gap: 24px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
 flex-direction: row;
  align-items: center;
  align-content: center;
  align-self: center;
  z-index: 9999;
  justify-content: center;
}
.navbarLink {
  font-size: 17px;
  font-family: "Poppins";
  flex-direction: row;
  align-items: center;
  align-content: center;
  display: inline-block;
  align-self: center;
  justify-content: center;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}
.navbarLink a:hover{
  color: var(--blue);
}
.navbarLinkContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}
.navbarLinkContainer:hover {
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjM5MHB4IiBoZWlnaHQ9IjUwcHgiIHZpZXdCb3g9IjAgMCAzOTAgNTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM5MCA1MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwM2RhIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMGMxMy43NSwwLDI4Ljc0LTM4Ljc3OCw0Ni4xNjgtMTkuNDE2QzE5Mi42NjksNDYuNSwyNDMuNjAzLDQ3LjU4NSwyNjAsNDcuNTg1YzMxLjgyMSwwLDEzMCwwLDEzMCwwIi8+PC9zdmc+");
  animation: line 1s;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size:contain;
}
.navbarLinkContainer:hover .navbarLink {
  color: var(--blue);
}

@keyframes line {
  0% {
    background-position-x: 500px;
  }
}
.navbarLink a {
  text-decoration: none;
  color: var(--darkBlue);
  padding: 13px;
  border-radius: 10px;
  text-decoration: none;
  align-self: center;
  align-items: center;
  align-content: center;
  align-self: center;
}
.navbar.scrolled .navbarLink a {
  color: rgb(0, 0, 0);
}

.navbar.scrolled .activeLink a {
  color: rgb(255, 255, 255);
}

.activeLink a {

  background-color: var(--blue);
  color: white;
  z-index: 1;
  padding: 7px;

  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.activeLink a:hover {

  background-color: var(--blue);
  color: white;
  z-index: 1;
  padding: 7px;

  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.navbar.scrolled .activeLink a {
  color: white;
  text-decoration: none;
}

.navbarLogoText {
  padding: 5px;
  width: 100px;
  height: 80px;
  align-self: center;
  transition: color 0.3s ease;

  margin-left: 20px;
}
.navbarLinkContainer {
  position: relative;
  /* // */
  width: fit-content;

  transition: background-position-x 0.9s linear;
}



.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: -5px;
  min-width: 150px;
  z-index: 10;
}

.dropdownItem {
  padding: 10px 15px;
  color: var(--darkBlue);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdownItem:hover {
  background-color: #ffffff;
}
.navbarLogin {
  display: flex;
  align-items: center;
}
.LoginContainer {
  background-color: var(--blue);
  border-radius: 8px;
  width: 109px;
  display: flex;
  height: 30px;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.LoginText {
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: regular;
  font-family: "Poppins";
  align-self: center;
}


@media (max-width: 1440px) {
  .navbarLink {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .navbarLink {
    font-size: 12px;
  }
  .navbarLogoText {
    width: 80px;
    height: 65px;
  }
}
@media (max-width: 800px) {
  .navbarLink {
    font-size: 11px;
  }
  .navbarLogoText {
    width: 75px;
    height: 65px;
  }
  .navbarLinksContainer {

    gap: 5px;
 
  }
  .dropdownItem {
   font-size: 14px;
  }
  
}
@media (max-width: 640px) {
  .navbar {
    max-width: 100%;
  min-width: 100%;
    height: 45px;
   
  }
  .navbarLink {
    font-size: 8px;
  }
  .navbarLogoText {
    width: 50px;
    height: 45px;
 
    margin-left: 0px;
  }
  .navbarLinksContainer {
    display: flex;
    gap: 0px;
    text-decoration: none;
    z-index: 99;
  }

  .navbarLink a {
    padding: 5px;
  }
  .navbarContainer {
      height: 100%;
      width:100%;
 
    }
    .navbarLinkContainer {
      position: relative;
    }
    .dropdownMenu {
     
      min-width: 100px;
  
    }

    .dropdownItem {
      font-size: 12px;
  padding: 5px 10px;

     }
   
}

@media only screen and  (max-width: 360px) {
  .navbarLink {
    font-size: 8px;
  }
  .navbarLogoText {
    width: 40px;
    height: 35px;
  
    margin-left: 0px;
  }
  .navbarLinksContainer {
    display: flex;
    gap: 0px;
    text-decoration: none;
  }

  .navbarLink a {
    padding: 3px;
  }
  .navbarContainer {
      height: 100%;
      width:100%;
    }
    .navbarLinkContainer {
      position: relative;
    }
    .navbar {
      max-width: 100%;
      min-width: 100%;
      height: 40px;

    }

    .dropdownMenu {
     
      min-width: 100px;
  
    }

    .dropdownItem {
      font-size: 10px;
  padding: 5px 10px;

     }
}

.mobileMenuButton {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

@media (max-width: 730px) {
  .navbar {
    height: auto;
    min-height: 55px;
  }

  .mobileMenuButton {
    display: block;
  }

  .navbarLinksContainer {
    display: none;
    position: absolute;
    top: 100%;
  right: 0;
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbarLinksContainer.mobileMenuOpen {
    display: flex;
  }
.mobileMenuOpen {
    width: 80%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .navbarLinkContainer {
    width: 100%;
    margin-bottom: 10px;

display: flex;
flex-direction: column;
  }

  .dropdownMenu {
    display: none;
    position: static;
    box-shadow: none;
    margin-top: 10px;
    width: 100%;
  }

  .navbarLinkContainer:hover .dropdownMenu,
  .navbarLinkContainer:focus-within .dropdownMenu {
    display: block; 
  }

  .navbarLink {
    font-size: 16px;
    width: 100%;
  }

  .navbarLink a,
  .navbarLink span {
    display: block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }

  .dropdownItem {
    font-size: 14px;
    padding: 8px;
    color: #000;
  }
  .dropdownItem:hover {
 
    color: var(--blue);
  }
}

