.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: #1f499738;
}
.Left {
  width: 50%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 80%;
  height: 600px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  gap: 20px;
  border-radius: 20px;
}
.textNo{
  text-decoration: none;

}
.row {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
}
.rowContact {
  width: 100%;
  display: flex;
  flex-direction: row;

  color: #000;
  align-items: center;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.rowContact i {
  color: var(--blue);
  width: 40px;
  height: 40px;
  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.columnContact_p {
  color: var(--blue);
  font-size: 16px;
}
.columnContact {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input,
.inputMessage {
  background-color: var(--lightGrey);
  height: 56px;
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #c7c5c5;

  padding-left: 20px;
}
.inputMessage {
  min-height: 100px;
}
.select {
  background-color: var(--lightGrey);
  height: 56px;
  border-radius: 8px;
  padding: 4px;
  padding-left: 20px;
}
.Right {
  width: 50%;
  height: 750px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;

  /* align-items: center; */
}
.RightTitle {
  font-size: 32px;
  font-family: "kufam";
  color: black;
}
.RightDesc {
  font-size: 16px;
  color: black;
  font-family: "kufam";
}
.submitbtn {
  background-color: var(--blue);
  border-radius: 8px;
  width: 200px;
  display: flex;
  height: 35px;
  align-items: center;
  align-content: center;
  color: white;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
}
