
.carr {
  width: 100%;
  background-color: aqua;
  max-height: 600px;
  overflow: hidden;
}

/* .carrImage img {
  width: 100%;
  height: 100%;
  object-fit: scale-down; 
} */

.container{
  background: linear-gradient(#032A4A,#00121e,#012344);
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-family: 'kufam';
  gap: 100px;
  
}
.Imagecontainer{
  display: flex;
  /* width: 600px; */
  height: 557px;
  width: 36%;

  overflow: hidden;
  border-radius: 50%;
  border: none;
  align-self: center;

}
.HeadImage{
  

  width:1000px;
  height: 557px;
object-fit: cover;

}
.HeaderText{
  width: 60%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.HeaderTitle{
  font-family: 'kufam';
  color: white;
  font-size: 32px;
align-self: center;
text-align: center;

}
.HeaderDesc{
  width: 70%;
  font-size: 24px;
  font-family: 'kufam';
  border-radius: 50px;
border-bottom: var(--ocean) 2px solid ;
border-right: var(--ocean) 2px solid ;
  color: white;
  padding: 30px;
padding-right: 100px;
  align-self: center;
  text-align: center;
  margin-left: 50px;
  margin-top: 30px;
}