
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 20px;
  background-color: #ffffff;
}
.Left, .Right {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  align-self: center;
  /* background-color: aliceblue; */
}
.Right{
  will-change: transform;
  background-image: url("../Assests/Tunisia.png");
    background-size:contain;
  background-repeat: no-repeat;
  background-position: center right;
}
.formContainer {
  width: 100%;
  max-width: 31.25rem;
  height: auto;
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  gap: 1.25rem;
  border-radius: 1.25rem;
  border: var(--blue) 0.5px solid;
}

.textNo {
  text-decoration: none;
}

.row {
  width: 100%;
  gap: 0.625rem;
  display: flex;
  flex-direction: column;
}
.rowContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  flex-wrap: wrap;
  gap: 0.9375rem;
  align-items: flex-start;
  justify-content: flex-start; 
  align-content: center;
align-self: flex-start;
}
.rowContact i {
  color: var(--blue);
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.label{
  font-size: 1rem;
}
.columnContact_p {
  color: var(--blue);
  font-size: 1rem;
}

.columnContact {
  width: 70%;
  display: flex;
  flex-direction: column;

}
.input,
.inputMessage,
.select {
  background-color: white;
  height: 3.5rem;
  border-radius: 0.5rem;
  padding: 0.25rem 1.25rem;
  border: 1px solid #7193f0;
  width: 100%;
  font-size: 1rem;
}
.inputMessage {
  min-height: 6.25rem;
  max-height: 20rem;
  resize: vertical;
}
.RightTitle {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: black;
  text-align: center;
}
.LeftTitle {
  width: 50%;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  /* color: black; */
  text-align: center;


  color: transparent;
  background-image: url('https://res.cloudinary.com/ddngbriyu/image/upload/v1744810615/fond-marbre-liquide-bleu-abstrait-art-experimental-texture-fluide_53876-104502_hr0bz5.jpg');
  background-size: 200%; /* Enlarged for smooth animation */
  background-position: 0 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 30s infinite alternate linear;
}
@keyframes animate-background {
  0% {
      background-position: 0 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.RightDesc {
  width:60%;
  font-size: 1rem;
  color: black;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.submitbtn {
  background-color: var(--blue);
  border-radius: 0.5rem;
  width: 12.5rem;
  display: flex;
  height: 2.1875rem;
  align-items: center;
  color: white;
  justify-content: center;
  align-self: center;
  margin-top: 0.625rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitbtn:hover {
  box-shadow: 0 4px 4px var(--orange);
  color: var(--orange);
  border: 2px;
  border-color: var(--orange) 2px solid;
}
/* //768px */
@media screen and (min-width: 48rem) {
  .container {
    flex-direction: row;
  }

  .Left, .Right {
    width: 50%;
    height: 46.875rem;
  }

  .row {
    flex-direction: row;
  }

  .rowContact {
    flex-direction: row;
  }

  .RightTitle {
    font-size: 2.5rem;
    text-align: left;
  }

  .RightDesc {
    text-align: center;
  }
}
/*1024px */
/* @media screen and (min-width: 64rem) {
  .container {
    font-size: 18px;
  }

  .formContainer {
    max-width: 37.5rem;
  }

  .RightTitle {
    font-size: 3rem;
  }
  .rowContact {
    flex-direction: row;
  }
} */
/* 1280px */
/* @media screen and (min-width: 80rem) {
  .container {
    font-size: 20px;
  }
  .rowContact {
    flex-direction: row;
  }
} */
@media (max-width: 1210px) {
  .input,
.inputMessage,
.select {

  font-size: 0.8rem;
}
.LeftTitle {
  width: 100%;
}
.RightTitle {
  font-size: 2rem;
  
}
.RightDesc {
  width:80%;

}

.rowContact {
  flex-direction: row;
}
}
@media (max-width: 1051px) {
  .input,
.inputMessage,
.select {
  padding: 0.1rem 1rem;

  font-size: 0.7rem;
}
.RightTitle {
  font-size: 1.5rem;
 
}
.rowContact {
  flex-direction: row;
}
}
@media (max-width: 910px) {


.select {
  padding: 0;

  font-size: 0.7rem;
}
.input,
.inputMessage
 {

  height: 3rem;
  padding: 0rem 0rem;
 text-align: start;
  font-size: 1rem;
}
.rowContact {
  flex-direction: row;
}
.LeftTitle {
  
  font-size: 1.5rem;
}
.RightDesc {
  width:90%;
  font-size: 1rem;

}
.label{
  font-size: 0.8rem;
}
}
@media (max-width: 866px) {


.select {
  padding: 0;
text-align: start;
  font-size: 0.7rem;
}
.input,
.inputMessage
 {
  font-size: 0.8rem;

  padding: 1rem 1rem;
}

.rowContact {
  flex-direction: row;
}
}
@media (max-width: 814px) {
  .formContainer {
   
    padding: 0.75rem;
    
  }
  .rowContact {
    flex-direction: row;
  }
}