.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: #1f499738;
}
.Left {
  width: 50%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.formContainer {
  width: 80%;
  height: 700px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  gap:20px;
  border-radius: 20px;

}
.row {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;

}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
gap: 15px;
}
.columnContact{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: bisque;
}
.input , .inputMessage{
  background-color: var(--lightGrey);
  height: 56px;
  border-radius: 8px;
  padding: 4px;
  padding-left: 20px;
}
.inputMessage {
  min-height: 100px;
}
.select{
  background-color: var(--lightGrey);
  height: 56px;
  border-radius: 8px;
  padding: 4px;
  padding-left: 20px;
}
.Right {
  width: 50%;
  height: 750px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(47, 88, 88);
  /* align-items: center; */
}
.RightTitle{
  font-size: 32px;
font-family: 'kufam';
  color: black;

}
.RightDesc{
  font-size: 16px;
  color: black;
  font-family: 'kufam';

}