@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #171717;
  --ocean: #1fdcf5;

  --ocean1: #1b00bf;
  --lightBlue: #14438a;

  --darkBlue: #091e3e;
  --orange: #f7ce8c;
  --blue:#0003da;
  --darkGrey:#858588;
  --lightGrey:#F1F1F1;
  
 
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "kufam";
  

}
.page{
  /* margin-top: 75px; */
  /* padding: 4px; */
  width: 100%;
  min-height: 100vh - 75px;

}
/* .page-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
} */
 .content-wrapper {
   display: flex;
   flex-direction: column;
   align-self: center;
  flex: 1;
  /* background-color: #0003da; */
  width: 100%;
  margin-top: 75px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
} 
@media (max-width: 640px) {
  .content-wrapper {

   margin-top: 45px;
 
 } 
}