.container {
  width:100%;
  display: grid;
  gap: 0;
  margin: 0 auto;
  padding: 1rem;
}

.toolbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.toolList {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  gap: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: white;
}

.toolBtn {
  display: block;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  cursor: pointer;
}
.toolBtnColor {
  display: block;
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
}
.toolBtnSize {
  display: block;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 60px;
  font-size: 16px;
  cursor: pointer;
}
.input{
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
}
.toolBtnsize2 {
  display: block;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 15px;
  font-size: 16px;
  cursor: pointer;
}
.toolBtn:hover {
  background-color: #dddddd;
}
.output {
  height: 400px;
  width: 100%;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin-top: 1rem;
}
.row{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.Li_toolBtnColor{
  display: flex;
  align-items: center;
  align-content: center;

}