.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "kufam";
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}
.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 70px;

  justify-content: space-between;
}
.Left {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Right {
  flex: 0.3;

  display: flex;
  flex-direction: column;
  background-image: url("./../Assests/svg/ServiceCircle.svg");
  background-repeat: no-repeat;

  background-position: center right;
  height: 600px;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: start;
}
.content {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: end;
  gap: 10px;
}
.title {
  color: var(--blue);
  font-size: 46px;
  background-color: white;
  padding: 10px;
  border-bottom: 2px var(--blue) solid;
  border-right: 2px var(--blue) solid;
  border-radius: 50px;
  width: 681px;
  display: flex;
  height: 100px;
  align-items: center;
  font-family: "kufam";

  align-content: center;
  justify-content: flex-end;
  padding-right: 80px;
}
.desc {
  color: black;
  font-size: 24px;

  padding: 10px;

  display: flex;
  font-family: "kufam";

  align-items: center;
  align-content: center;
  /* justify-content: flex-start; */
  margin-left: 50px;
}
.RightDesc {
  display: flex;
  flex-direction: row;

  gap: 20px;
}
.RightDesc p:hover {
  cursor: pointer;
  color: #000;
  font-size: 20px;
}

.loader {
  width: 20px;
  height: 20px;
  display: flex;
  color: #d38c07dc;
  /* color: #3a8efc69; */
  --c: #0000 calc(100% - 20px), currentColor calc(100% - 19px) 98%, #0000;
  background: radial-gradient(farthest-side at left, var(--c)) right / 50% 100%,
    radial-gradient(farthest-side at top, var(--c)) bottom/100% 50%;
  background-repeat: no-repeat;
  animation: l18-0 2s infinite linear 0.25s;
}
.loader::before {
  content: "";
  width: 50%;
  height: 50%;
  background: radial-gradient(farthest-side at bottom right, var(--c));
  animation: l18-1 0.5s infinite linear;
}
@keyframes l18-0 {
  0%,
  12.49% {
    transform: rotate(0deg);
  }
  12.5%,
  37.49% {
    transform: rotate(90deg);
  }
  37.5%,
  62.49% {
    transform: rotate(180deg);
  }
  62.5%,
  87.49% {
    transform: rotate(270deg);
  }
  87.5%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l18-1 {
  0% {
    transform: perspective(150px) rotateY(0) rotate(0);
  }
  50% {
    transform: perspective(150px) rotateY(180deg) rotate(0);
  }
  80%,
  100% {
    transform: perspective(150px) rotateY(180deg) rotate(90deg);
  }
}
.AllService {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  gap: 100px;
}
.service {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.serviceRight {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;

  align-self: flex-end;
}
.serviceIconLeft {
  width: 40%;
}
.serviceIcon {
  width: 40%;
  align-self: flex-end;
}
.serviceContentLeft {
  width: 60%;

  display: flex;
  gap: 10px;
  flex-direction: column;
}
.serviceContentRight {
  width: 60%;
  background-color: white;
  display: flex;
  gap: 10px;
  padding-left: 50px;
  flex-direction: column;
}
.serviceContent_desc {
  width: 90%;
  color: #000;
  font-size: 22px;
  font-family: "kufam";
}
.ImageSpin {
  width: 24px;
  height: 24px;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
.row h6 {
  color: var(--blue);
  font-size: 24px;
  font-family: "kufam";
}
.serviceContent_desccc{
  color: var(--darkBlue);
  font-size: 14px;
  font-family: "kufam";
  align-self: center;
}
.serviceContent_descc {
  color: var(--darkBlue);
  font-size: 18px;
  font-family: "kufam";
  margin-left: 50px;
  align-self: flex-start;
}
.techImage{
  width: 90%;
  height: auto;
  border-radius: 35px;
}