.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: "Poppins";
  gap: 5rem;
}
.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.Whats {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 2rem;
}
.tabsImage {
  margin-left: -6rem;
}
.textContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-self: center;
  width: 60%;
  align-items: center;
  align-content: center;
  gap: 2rem;
}
.textContainer h1,
.Whats h1,
.textContainer h6,
.textContainer p {
  font-family: "Poppins";
}
.textContainer h1,
.Whats h1 {
  font-size: 4.5rem;
  font-weight: bold;
}
.textContainer h6 {
  font-size: 1.9rem;
  font-weight: bold;
}
.textContainer p {
  font-size: 1.25rem;
  font-weight: bold;
  color: #091e3e;
  width: 60%;
  text-align: center;
}
.FirstH1 {
  display: flex;
  flex-direction: row;

  align-items: flex-end;
}
.ZitounaImage {
  margin-left: -5rem;
}
.buttonStarted,
.buttonDemo {
  background-color: var(--white);
  color: #988f09;
  padding: 10px 20px;
  border-radius: 99px;
  border: 1px solid #988f09;
  width: 12.5rem;
  align-self: center;
  height: 3.25rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Poppins";
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.buttonDemo {
  background-color: #988f09;
  color: white;
}
.buttonStarted:hover {
  box-shadow: 0 4px 4px #988f09;
  border-color: #988f09 2px solid;
  color: #988f09;
  border: 1px;
  border-bottom: var(--white) 2px solid;
}
.btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}
.WhatsTitle {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.Whats p {
  font-size: 1.75rem;
  text-align: center;
  color: #091e3e;
  width: 80%;
}
.WhatsTitle2 {
  color: #988f09;
}
.Innovating {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 2rem;
}
.Innovating h1 {
  color: #091e3e;
  width: 55%;
  font-size: 2.2rem;
  text-align: center;
  font-weight: bold;
}
.InnovatingContent {
  /* background-color: #747765; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.item {
  display: flex;
  flex-direction: row;

  gap: 1.5rem;
  align-items: center;
  align-content: center;
  color: #091e3e;
}
.ContentLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* background-color: #2a300e; */
  width: 70%;
  gap: 1rem;
}
.text p {
  font-size: 1.25rem;
  font-family: "Poppins";
}
.text h6 {
  font-size: 1.4rem;
  font-family: "Poppins";
}
.Action{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #988f09;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;

}
.Action h1 {
  color: white;
  font-weight:bold ;
  font-size: 3rem;
  font-family: "Poppins";
}
.Action p {
  color: white;
width: 70%;
  font-family: "Poppins";
  font-size: 25px;
}
.ActionLeft{
      display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
padding: 2.5rem;
gap:1.5rem;

}
.ActionRight{
      display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
  padding: 1rem;
justify-content: space-between;
}
.Actionbutton {
  background-color: var(--white);
  color: #444004;
  padding: 10px 20px;
  border-radius: 99px;
  border: 1px solid #988f09;
  width: 12.5rem;
  align-self: center;
  height: 3.25rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Poppins";
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.Tap{
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
    align-items: center;
  align-content: center;
  justify-content: center;
}
.TapTitle{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:0.5rem;
  text-align: center;
  align-items: center;
  align-content: center;}
  .TapTitle1,
  .TapTitle2{
  color: #091e3e;
  font-size: 2.2rem;
  text-align: center;
  font-family: "Poppins";
  font-weight: bold;
  }
  .TapTitle1{
  font-size: 3.5rem;
  }
.Advanages {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: auto auto;
  gap: 1.5rem;
  border-radius: 10px;
  width:90%;
  text-align: center;
  align-content: center;
align-items: center;
align-self: center;
}
.Advanage:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.Advanage:nth-child(4) {
  grid-column: 4;
  grid-row: 1;
}
.Advanage:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
.Advanage:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}
.Advanage {
  background-color: #988f09;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
align-content: center;
width: 100%;
  color: #ffffff;
}
/* /////////////// */
.Advanages2 {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: auto;
  gap: 1.5rem;
  border-radius: 10px;
  width:90%;
  text-align: center;
  align-content: center;
align-items: center;
align-self: center;
}
.Advanage2:nth-child(1){
  grid-column: 1;
  grid-row: 1;
}
.Advanage2:nth-child(2)
 {
  grid-column: 1;
  grid-row: 2;
}
.Advanage2:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.Advanage2:nth-child(4) {
  grid-column: 1;
  grid-row: 4;
}
.Advanage2:nth-child(5) {
  grid-column: 1;
  grid-row: 5;
}
.Advanage2:nth-child(6) {
  grid-column: 2;
  grid-row: 1;
}
.Advanage2:nth-child(7) {
  grid-column: 2;
  grid-row: 2;
}
.Advanage2:nth-child(8) {
  grid-column: 2;
  grid-row: 3;
}
.Advanage2:nth-child(9) {
  grid-column: 2;
  grid-row: 4;
}
.Advanage2:nth-child(10) {
  grid-column: 3;
  grid-row: 1;
}
.Advanage2:nth-child(11) {
  grid-column: 3;
  grid-row: 2;
}.Advanage2:nth-child(12) {
  grid-column: 3;
  grid-row: 3;
}
.Advanage2:nth-child(13) {
  grid-column: 3;
  grid-row: 4;
}

.Advanage2
{
   background-color: #BF9A7933;
  padding: 8px;
  font-size: 1.2rem;
  border-radius:50px;
  text-align: center;
  justify-content: center;
align-content: center;
align-self: center;
width: 100%;
  color: #091e3e;
}
.Adv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:70%;
  align-items: center;
  align-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Features{
   display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

  width: 100%;
}
.KeyDiv{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 90%;
  align-self: center;


}
.KeyLeft{
      display: flex;
  flex-direction: row;
align-items: center;
align-content: center;
justify-content: space-between;

  gap:1rem;
  width: 100%;
}
.itemText{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;

}

.itemText p {
  font-size: 1.25rem;
  font-family: "Poppins";
}
.itemText h6 {
  font-size: 1.4rem;
  font-family: "Poppins";
}
.items{
        display: flex;
  flex-direction: column;
  width: 60%;
gap:1rem;
}
.TapTitle1{
  color: #988f09;
  font-size: 2.2rem;
  text-align: center;
  font-family: "Poppins";

  font-weight: bold;
}

.KeyDiv1{
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap:1rem;

}.Questions {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
gap:3rem
}
.Questions h1 {
  color: #091e3e;
  font-size: 2.2rem;
  text-align: center;
  font-family: "Poppins";

  font-weight: bold;
}



.faqContainer {
 width: 70%;
align-self: center;
  padding: 10px;


}

.faqItem {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;

}

.faqQuestion {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  height: auto;
  min-height: 70px;
  flex-direction: row;
  align-items:center ;
  align-content: center;
  justify-content: space-between;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajout d'un ombrage subtil */
  transition: box-shadow 0.3s ease-in-out; /* Pour un effet de transition fluide */
}
.faqQuestion:hover {
  box-shadow: 0px 2px 6px #988f09 ; /* Ombrage plus prononcé au survol */
}
.faqAnswer {
  font-size: 16px;
  padding: 10px;
  display: none;
  background-color: #f1f8e4;
  
  margin-top: 5px;
  border-left: 5px solid #988f09;
  border-radius: 5px;
  height: auto;
  min-height: 70px;
  align-items:center ;
  align-content: center;
}
.show {
  display: block;
}
@media (max-width: 1740px) {
.InnovatingContent {
  width: 90%;
}
.ActionRight{
  width: 30%;
}
.tabsImage2{
  width: 30%;
}
.tabsImage1{
  width: 300PX;
}
}
@media (max-width: 1450px) {
  .buttonStarted,
.buttonDemo {
  width: 11rem;
  padding: 0px 0px;
  height: 3.25rem;
  font-size: 1.2rem;
}
.Actionbutton {
  width: 10rem;
  padding: 0px 0px;
  height: 3.25rem;
  font-size: 1.2rem;
}
.tabsImage{
  width: 30%;
}
.textContainer {
  width: 70%;
}
}
@media (max-width: 1200px) {
  .Header {
  flex-direction: row;
  flex-wrap: nowrap;
}
.textContainer {
  width: 100%;
}
.tabsImage{
  width: 30%;
  align-self: baseline;
  margin-top: 200px;
}
.textContainer h1,
.WhatsTitle h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
.Whats p {
  font-size: 1.5rem;
}
.tabsImage3{
  width: 90%;

}
.InnovatingContent {
  width: 90%;
  background-image: 
    url("../Assests/oilapp/telMockUp.png");
  background-size: 20% 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.ContentLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  gap: 1rem;
}
.Innovating h1 {
  font-size: 1.8rem;
   width:80%;
}
.tabsImage1{
/* opacity: ; */
width: 0%;
}
.itemIcon{
  width: 60px;
}
.ZitounaImage{
  width: 130px;
  margin-left: -3rem;
}
.Action{
  flex-direction: column;
}
.ActionLeft{
  width: 90%;
}
.Action h1 ,
.Action p {
text-align: center;
width: 100%;
}
.ActionRight{
  width: 50%;
}
.Actionbutton {
  width: 13rem;
  font-size: 1.4rem;
}
.Adv {
  width:90%;
}
}
@media (max-width: 1000px) {
  .InnovatingContent {
  background-size: 15% 70%;
}
.Adv {
  width:100%;
}
.Actionbutton {
  width: 11rem;
  font-size: 1.2rem;
}
.ActionRight{
  width: 60%;
}
.btns {
  width: 80%;
}
}
@media (max-width:750px) {
.tabsImage {width: 0%;}
.Header {
 
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.521), rgba(255, 255, 255, 0.61)),

    url("../Assests/oilapp/2Tabs_Header.png");

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom right;


}
.InnovatingContent {
  background-image: 
    url("../Assests/oilapp/telMockUp.png");
  background-size:15% 60%;
}
.TapTitle{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:0.5rem;
  text-align: center;
  align-items: center;
  align-content: center;}
  .TapTitle1,
  .TapTitle2{
  color: #091e3e;
  font-size: 1.4rem;
  }
.Advanage,
.Advanage2 {
  padding: 3px;
  font-size: 0.8rem;
}
.KeyDiv{
  flex-direction: column-reverse;
}
.items{
  width: 100%;
}
.tabsImage2{
  width: 40%;
}
.faqContainer {
 width: 90%;
}
}
@media (max-width:550px) {
.textContainer h1{
font-size: 2.5rem;
}
.textContainer p {
  width: 80%;
}
 .Innovating{
  margin-top: -4rem;
 }
  .Innovating h1 {
  width: 100%;
  font-size: 2rem;
}
.InnovatingContent {
  background-size: 0% 0%;
  flex-direction: column;
}
.tabsImage1{
  width: 30%;
  align-self: center;
}
.ContentLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
.ActionRight{
  width: 70%;
}
  .Action h1 {
font-size: 2rem;
  }
.Actionbutton {
  width: 9rem;
  padding: 0px 0px;
  height: 3.25rem;
  font-size: 1rem;
}
.TapTitle{
  flex-direction: column;
}
.Whats h1 {
  font-size: 2.2rem;
}
.Whats p {
  font-size: 1.2rem;
  width: 100%;
}
}
@media (max-width:550px) {
  .ActionRight ,
  .ActionLeft{
    width: 100%;
  }
  .Action p {
text-align: center;
width: 100%;
font-size: 1.2rem;
}
.textContainer h1{
font-size: 1.5rem;
}
.textContainer h6 {
  font-size: 1.2rem;
}
.textContainer p {
  font-size: 0.9rem;
  width:90%;
}
.ZitounaImage{
  width: 90px;
  height: 90px;
  margin-left: -3rem;
  margin-top: 3rem;
}
.textContainer {
  gap: 1rem;
}
.FirstH1{
  padding:0.5rem;
}
.btns {
  width: 90%;
}
  .buttonStarted,
.buttonDemo {
  width: 8rem;
  padding: 0px 0px;
  height: 3.25rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.text p {
  font-size: 0.9rem;
  font-family: "Poppins";
}
.text h6 {
  font-size: 1rem;
  font-family: "Poppins";
}
.Advanages ,
.Advanages2{
  gap: 0.5rem;
  width:95%;
}
.Advanage,
.Advanage2 {
  padding: 2px;
  font-size: 0.8rem;
  height: 50px;
}
.KeyImage{
  width: 30px;
}
.KeyLeft{
align-items: flex-start;
}
.itemText p {
  font-size: 0.9rem;
  font-family: "Poppins";
}
.itemText h6 {
  font-size: 1rem;
  font-family: "Poppins";
}
.Questions h1 {
  font-size: 1.2rem;
}
.faqQuestion, 
.faqAnswer{
  font-size: 0.9rem;
}
}